table {
 padding:10px;
 margin:20px;
 font-family:mono,arial;
 border:2px solid #337;
 border-radius: 5px;
}

tr {
 border:2px solid #DDD;
}

#toc {
	position:fixed;
	right:0;
	width:auto;
	height:auto;
	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	font-size:75%;
}

#left {
 background:#EEF;
}

#right {
 border: 2px solid grey;
 border-left: none;
}